BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 8
TabWidth: 8
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
IndentCaseLabels: false
ColumnLimit: 80
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
InsertBraces: true
